<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Music Memory</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=M+PLUS+1p&family=Outfit&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="{{url_for('index')}}"><img src="../static/assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          {% if isLogin %}
                                   <li><a class="nav-link scrollto active color-green" href="{{url_for('index')}}#game">Start Game</a></li>

             <li><a class="nav-link scrollto active" href="{{url_for('about')}}">About</a></li>
                      <li><a class="nav-link scrollto" href="{{url_for('scoreboard')}}">My Page</a></li>
                      {% if username=="scott2023" %}

                                            <li><a class="nav-link scrollto" href="{{url_for('dashboard')}}">Admin Page</a></li>
                                            {%endif%}


<!--                      <li><a class="nav-link scrollto" href="{{url_for('mypage')}}">My Page</a></li>-->

            <li><a class="nav-link scrollto" href="{{url_for('logout')}}">Logout</a></li>
<!--                <li class="dropdown"><a href="#"><span>MY</span> <i class="bi bi-chevron-down"></i></a>-->
<!--                  <ul>-->
<!--                    <li><a href="#">My Info</a></li>-->
<!--                    <li><a class="nav-link scrollto" href="{{url_for('logout')}}">Logout</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
          {% else %}
                       <li><a class="nav-link scrollto" href="{{url_for('about')}}">About</a></li>

            <li><a class="nav-link scrollto" href="{{url_for('login')}}">Login</a></li>
          {% endif %}



        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>

      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
      <section id="team" class="team">
          <div class="container">

            <div class="section-title" data-aos="fade-up">
              <h2>About Me</h2>
<!--              <p>Magnam dolores commodi suscipit eius consequatur</p>-->
            </div>

            <div class="row">
              <div class="col-lg-6 " data-aos="fade-right">
                        <img src="../static/assets/img/team.png" class="img-fluid myphoto mx-auto " alt="">
              </div>
              <div class="col-lg-6" data-aos="fade-left">
                <div class="content pt-4 pt-lg-0 pl-0 pl-lg-3 ">
                  <h3 class="myh">Andrew Lee</h3>
                  <p class="text-justify aboutmep ">
                    In my web development project, aimed to be used at disability learning centers, I channeled my passion for assisting visually impaired individuals by creating a specialized platform designed to enhance their auditory senses and memory skills. The project's core objectives revolved around leveraging technology to train hearing sensitivity through a pattern recognition game, recognizing the significance of sound perception for the visually impaired. </p>

                    <p class="text-justify aboutmep"> Simultaneously, the platform addresses the importance of memory by incorporating exercises within the game. This dual-focused approach aims to provide a comprehensive learning experience for visually impaired individuals, fostering empowerment and inclusivity through innovative uses of computer science and technology.
                  </p>
                  <ul class="small-font no-bullet">
                    <li class="mt-2"> <i class="bi bi-music-note-beamed"></i> Senior at Avon Old Farms School with a focus on engineering, physics, and music.</li>
                    <li class="mt-2"><i class="bi bi-music-note-beamed"></i> Decade-long oboe player, studied composition and AP Music Theory.</li>
                    <li class="mt-2"> <i class="bi bi-music-note-beamed"></i> Started in middle school with a wheelchair control project for the disabled.</li>
                    <li class="mt-2"><i class="bi bi-music-note-beamed"></i> Engaged with "Another Way of Seeing" to understand the challenges of the visually impaired.</li>
                    <li class="mt-2"><i class="bi bi-music-note-beamed"></i> Utilizes a blend of engineering and music to create tech solutions for the visually impaired.</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
      </section>
     <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>About Music Memory</h2>
        </div>

        <div class="row">
          <div class="col-md-6 order-2 order-lg-1">

            <div class="projectintro">
            <div class="icon-box mt-3 mt-lg-0 me-md-5" data-aos="fade-up">
              <i class="bx bx-receipt"></i>
              <h4>Purpose-Driven Design</h4>
              <p class="text-justify">Created specifically for use in disability learning centers, focusing on the needs of the visually impaired.</p>
            </div>
            <div class="icon-box mt-3 me-md-5" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-cube-alt"></i>
              <h4>Train Your Senses</h4>
              <p class="text-justify">A pattern recognition game designed to train and enhance auditory senses, acknowledging the importance of sound perception in the absence of sight.</p>
            </div>
            <div class="icon-box mt-3 me-md-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-images"></i>
              <h4>Sharpen Your Memory</h4>
              <p class="text-justify">In-built memory exercises within the game help to improve this crucial skill, making for a more holistic developmental experience.</p>
            </div>
                        <div class="icon-box mt-3 me-md-5" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-people"></i>
              <h4>Empowerment and Inclusivity</h4>
              <p class="text-justify">Our dual-focused approach aims to provide a comprehensive learning experience, moving beyond mere assistance to empowerment.</p>
            </div>
                                      <div class="icon-box mt-3 me-md-5" data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-code-square"></i>
                <h4>Technological Innovation</h4>
                <p class="text-justify">Leverages the latest in computer science and software development to create an accessible, user-friendly platform.</p>
              </div>
            </div>
          </div>
             <div class="col-md-6 order-2 order-lg-1" data-aos="fade-left" data-aos-delay="200">
                  <img src="../static/assets/img/about1.jpg" class="img-fluid myphoto2 mx-auto " alt="">

               </div>
        </div>

      </div>
    </section>
    <section id ="contact">
      <div class="section-title" data-aos="fade-up">
          <h2>Contact</h2>
          <div class="row mt-5">
            <div class="text-center contact-info">
                <h3><i class="bi bi-envelope"></i> Email</h3>
              <p>joonseoandrewlee@gmail.com</p>
            </div>

          </div>
        </div>
    </section>
  </main>
  <footer id="footer">



    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Music Memory</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>
  <script src="../static/assets/js/game.js"></script>

</body>

</html>