<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Music Memory</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins&family=Tulpen+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=M+PLUS+1p&family=Outfit&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="{{url_for('index')}}"><img src="../static/assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          {% if isLogin %}
                                   <li><a class="nav-link scrollto active color-green" href="{{url_for('index')}}#game">Start Game</a></li>

             <li><a class="nav-link scrollto" href="{{url_for('about')}}">About</a></li>
                      <li><a class="nav-link scrollto" href="{{url_for('scoreboard')}}">My Page</a></li>
                      {% if username=="scott2023" %}

                      <li><a class="nav-link scrollto active" href="{{url_for('dashboard')}}">Admin Page</a></li>
                      {% endif %}

<!--                      <li><a class="nav-link scrollto" href="{{url_for('mypage')}}">My Page</a></li>-->

            <li><a class="nav-link scrollto" href="{{url_for('logout')}}">Logout</a></li>
<!--                <li class="dropdown"><a href="#"><span>MY</span> <i class="bi bi-chevron-down"></i></a>-->
<!--                  <ul>-->
<!--                    <li><a href="#">My Info</a></li>-->
<!--                    <li><a class="nav-link scrollto" href="{{url_for('logout')}}">Logout</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
          {% else %}
            <li><a class="nav-link scrollto" href="{{url_for('login')}}">Login</a></li>
          {% endif %}



        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>

      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">
 <section style="background-color: #FDFDFA;">
          <div class="container h-100">
                    <div class="section-title" data-aos="fade-up">
        <h2>User Activity Log</h2>
        </div>

            <div class="row">

                <div class="col-md-6">

                         <div class="card mx-auto info-card px-4 py-4 data-card">

                                               <h5  data-aos="fade-up">Number of users</h5>

                          <div class="card-body">
                              <canvas  data-aos="fade-in" id="userCountChart"  width="400" height="200"></canvas>

                          </div>

                      </div>
                </div>
                  <div class="col-md-6">
                      <div class="card mx-auto info-card px-4 py-4 data-card">
                          <div class="card-body">
                               <h5 class="" data-aos="fade-up">Solved questions</h5>

                                                <canvas   data-aos="fade-in" id="userCountChart2" width="400" height="200"></canvas>

                          </div>

                      </div>

                </div>
            </div>

          </section>

      <section style="background-color: white;">
          <div class="container h-100">
                    <div class="section-title" data-aos="fade-up">
        <h2>Sentiment Analysis</h2>
        </div>

            <div class="row">

                <div class="col-md-6">

                         <div class="card  mx-auto info-card px-4 py-4 data-card">

                                               <h5 class="" data-aos="fade-up">Sentiments of question1</h5>

                          <div class="card-body">
                              <canvas  data-aos="fade-in" id="sentimentPieChart1" width="200" height="3"></canvas>

                          </div>

                      </div>
                </div>
                  <div class="col-md-6">
                      <div class="card mx-auto info-card px-4 py-4 data-card">
                          <div class="card-body">
                               <h5 class="" data-aos="fade-up">The most frequent words in question1</h5>

                                                <canvas   data-aos="fade-in" id="wordChart1" width="400" height="200"></canvas>

                          </div>

                      </div>

                </div>
            </div>

                          <div class="row mt-5">

                <div class="col-md-6">

                         <div class="card mx-auto info-card px-4 py-4 data-card">

                                               <h5 class="" data-aos="fade-up">Sentiments of question2</h5>

                          <div class="card-body">
                              <canvas  data-aos="fade-in" id="sentimentPieChart2" width="200" height="3"></canvas>

                          </div>

                      </div>
                </div>
                  <div class="col-md-6">
                      <div class="card mx-auto info-card px-4 py-4 data-card">
                          <div class="card-body">
                               <h5 class="" data-aos="fade-up">The most frequent words in question2</h5>

                                                <canvas   data-aos="fade-in" id="wordChart2" width="400" height="200"></canvas>

                          </div>

                      </div>

                </div>
            </div>


                                        <div class="row mt-5">

                <div class="col-md-6">

                         <div class="card mx-auto info-card px-3 py-3 data-card">

                                               <h5 class="" data-aos="fade-up">Sentiments of question3</h5>

                          <div class="card-body">
                              <canvas  data-aos="fade-in" id="sentimentPieChart" width="200" height="3"></canvas>

                          </div>

                      </div>
                </div>
                  <div class="col-md-6">
                      <div class="card mx-auto info-card px-3 py-3 data-card">
                          <div class="card-body">
                               <h5 class="" data-aos="fade-up">The most frequent words in question3</h5>

                                                <canvas   data-aos="fade-in" id="wordChart" width="400" height="200"></canvas>

                          </div>

                      </div>

                </div>
            </div>



          </div>
        </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">



    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Music Memory</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>
  <script src="../static/assets/js/game.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

<script>
    // Extract sentiment values and counts from the Flask template
    var sentimentData = {{ sentiment_counts | tojson }};

    // Initialize data for the pie chart
    var labels = sentimentData.map(item => item[0]);
    var counts = sentimentData.map(item => item[1]);

var ctx = document.getElementById('sentimentPieChart').getContext('2d');
var chart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: labels,
        datasets: [{
            data: counts,
            backgroundColor: ['#D3704E', '#4EA8D3', '#4ED362'],
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Sentiment Analysis Pie Chart',
        },
        responsive: true, // This makes the chart responsive
        maintainAspectRatio: false, // Set this to false to allow manual sizing
        aspectRatio: 1, // Adjust this value to control the chart's aspect ratio
    }
});

</script>
<script>
        var ctx = document.getElementById('wordChart').getContext('2d');
        var words = {{ top_words|tojson }};
        var labels = words.map(item => item[0]);
        var data = words.map(item => item[1]);
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Word Count',
                    data: data,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>


<script>
    // Extract sentiment values and counts from the Flask template
    var sentimentData = {{ sentiment_counts2 | tojson }};

    // Initialize data for the pie chart
    var labels = sentimentData.map(item => item[0]);
    var counts = sentimentData.map(item => item[1]);

var ctx = document.getElementById('sentimentPieChart1').getContext('2d');
var chart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: labels,
        datasets: [{
            data: counts,
            backgroundColor: ['#ED8B66', '#4EA8D3', '#97ECCC'],
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Sentiment Analysis Pie Chart',
        },
        responsive: true, // This makes the chart responsive
        maintainAspectRatio: false, // Set this to false to allow manual sizing
        aspectRatio: 1, // Adjust this value to control the chart's aspect ratio
    }
});

</script>

<script>
        var ctx = document.getElementById('wordChart1').getContext('2d');
        var words = {{ top_words2|tojson }};
        var labels = words.map(item => item[0]);
        var data = words.map(item => item[1]);
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Word Count',
                    data: data,
                    backgroundColor: 'rgba(237, 139, 102, 0.2)',
                    borderColor: 'rgba(237, 139, 102, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>




<script>
    // Extract sentiment values and counts from the Flask template
    var sentimentData = {{ sentiment_counts3 | tojson }};

    // Initialize data for the pie chart
    var labels = sentimentData.map(item => item[0]);
    var counts = sentimentData.map(item => item[1]);

var ctx = document.getElementById('sentimentPieChart2').getContext('2d');
var chart = new Chart(ctx, {
    type: 'pie',
    data: {
        labels: labels,
        datasets: [{
            data: counts,
            backgroundColor: ['#ED8B66', '#4EA8D3', '#97ECCC'],
        }]
    },
    options: {
        title: {
            display: true,
            text: 'Sentiment Analysis Pie Chart',
        },
        responsive: true, // This makes the chart responsive
        maintainAspectRatio: false, // Set this to false to allow manual sizing
        aspectRatio: 1, // Adjust this value to control the chart's aspect ratio
    }
});

</script>

<script>
        var ctx = document.getElementById('wordChart2').getContext('2d');
        var words = {{ top_words3|tojson }};
        var labels = words.map(item => item[0]);
        var data = words.map(item => item[1]);
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Word Count',
                    data: data,
                    backgroundColor: 'rgba(220, 160, 227, 0.2)',
                    borderColor: 'rgba(220, 160, 227, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>


 <script>
        var months = ["June", "July", "August", "September", "October"];
        var userCount = [5,30, 32, 40, 45];

        var ctx2 = document.getElementById('userCountChart').getContext('2d');

        var chart = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: months,
                datasets: [{
                    label: 'Number of Users',
                    data: userCount,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        stepSize: 10
                    }
                }
            }
        });
    </script>


 <script>
       var months = ["June", "July", "August", "September", "October"];

        var recognitionData = [20, 50, 90, 130,190];
        var intervalData = [15, 40, 55,70,90];
        var pitchIntervalData = [3,15, 20, 35,55];

        var ctx2 = document.getElementById('userCountChart2').getContext('2d');

        var chart = new Chart(ctx2, {
            type: 'line',
            data: {
                labels: months,
                datasets: [
                    {
                        label: 'Recognition',
                        data: recognitionData,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 2,
                        fill: false
                    },
                    {
                        label: 'Interval',
                        data: intervalData,
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 2,
                        fill: false
                    },
                    {
                        label: 'Pitch&Interval',
                        data: pitchIntervalData,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 2,
                        fill: false
                    }
                ]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        stepSize: 10
                    }
                }
            }
        });
    </script>
</body>

</html>