<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Music Memory</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=M+PLUS+1p&family=Outfit&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins&family=Tulpen+One&display=swap" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="video-container">
      <video autoplay loop muted playsinline>
        <source src="../static/assets/img/video_back.mp4" type="video/mp4">

      </video>
        <div class="overlay"></div>
      <div class="hero-container">
        <div class="wave">
          <span style="--i:1">M</span>
          <span style="--i:2">U</span>
          <span style="--i:3">S</span>
          <span style="--i:4">I</span>
          <span style="--i:5">C</span>
          <span style="--i:6">&nbsp;</span>
          <span style="--i:7">M</span>
          <span style="--i:8">E</span>
          <span style="--i:9">M</span>
          <span style="--i:10">O</span>
          <span style="--i:11">R</span>
          <span style="--i:12">Y</span>
        </div>
        <h2 data-aos="fade-up" class="margin-sub">Enhance your memory by playing the game!</h2>
        <a data-aos="fade-up" data-aos-delay="200" href="#game" class="btn-get-started scrollto">Get Started</a>
      </div>
    </div>
  </section>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="{{url_for('logout')}}"><img src="../static/assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          {% if isLogin %}
             <li><a class="nav-link scrollto" href="{{url_for('about')}}">About</a></li>
                      <li><a class="nav-link scrollto" href="{{url_for('scoreboard')}}">Statistics</a></li>

<!--                      <li><a class="nav-link scrollto" href="{{url_for('mypage')}}">My Page</a></li>-->

            <li><a class="nav-link scrollto" href="{{url_for('logout')}}">Logout</a></li>

<!--                <li class="dropdown"><a href="#"><span>MY</span> <i class="bi bi-chevron-down"></i></a>-->
<!--                  <ul>-->
<!--                    <li><a href="#">My Info</a></li>-->
<!--                    <li><a class="nav-link scrollto" href="{{url_for('logout')}}">Logout</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
          {% else %}
            <li><a class="nav-link scrollto" href="{{url_for('about')}}">About</a></li>
            <li><a class="nav-link scrollto" href="{{url_for('login')}}">Login</a></li>
          {% endif %}



        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>

      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

   <section id="game">
          <div class="container mt-5">
        <h1 class="text-center" data-aos="fade-up" data-aos-delay="200">Sound Memory Game</h1>


                    <div class="row text-center mx-auto mt-5" data-aos="fade-up" data-aos-delay="200">
                        <div class="col-lg-4">
                            <div class="card mx-auto" style="width: 18rem;">
                                <div class="card-body">
                                        <h5 class="card-title mb-4">Recognition</h5>
                                                                                                            <img class="img-fluid half-img mb-4"  src="../static/assets/img/recognition.png">

                                        <h6 class="card-subtitle mb-4 text-muted">Please <strong>listen and wait</strong> until the sounds have finished. Then, press the correct keys in order.
                                            <strong>'Left Arrow' Key </strong> for Dog <strong> 'Right Arrow' Key </strong> for Cat</h6>
                                    <br>
                                    <br>
<!--                                                                                                                              <p>You need <strong>0</strong> points to unlock.</p>-->

                                    <button class="btn btn-primary active" onclick="changeContent(1)" id="btn1">
                                        <i class="bi bi-unlock"></i> Play
                                    </button>
                                </div>
                            </div>
                        </div>

                        {% if current_score >= 10 %}
                        <div class="col-lg-4">
                            <div class="card mx-auto" style="width: 18rem;">
                                <div class="card-body">
                                        <h5 class="card-title mb-4">Interval</h5>
                                                                        <img class="img-fluid half-img mb-4"  src="../static/assets/img/interval.png">

                                    <h6 class="card-subtitle mb-4 text-muted"> Please <strong> listen and wait </strong>until the sounds have finished.Then, press the <strong>'Enter' key </strong> in time interval.<br></h6>
                                                                                     <br>
                                                                                          <p>You need <strong>10</strong> points to unlock.</p>

                                    <button class="btn btn-primary" onclick="changeContent(2)" id="btn2">
                                        <i class="bi bi-unlock"></i> Play
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-lg-4">
                            <div class="card mx-auto" style="width: 18rem;">
                                <div class="card-body">
                                        <h5 class="card-title mb-4">Interval</h5>
                                                                        <img class="img-fluid half-img mb-4"  src="../static/assets/img/interval.png">

                                    <h6 class="card-subtitle mb-4 text-muted"> Please <strong> listen and wait </strong>until the sounds have finished.Then, press the <strong>'Enter' key </strong> in time interval.<br> </h6>
                                    <br>

</h6>
                                                                                          <p>You need <strong>10</strong> points to unlock.</p>

                                                                        <button class="btn btn-primary" onclick="changeContent(2)">

                                    <i class="bi bi-lock"></i> Interval
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if current_score >= 15 %}
                        <div class="col-lg-4">
                            <div class="card mx-auto" style="width: 18rem;">
                                <div class="card-body">
                                                                            <h5 class="card-title mb-4">Pitch & Interval</h5>
                                    <img class="img-fluid half-img mb-4"  src="../static/assets/img/pitch.png">
                                    <h6 class="card-subtitle mb-4 text-muted"> <strong> 'q' </strong> Key for Lowest Pitch, <strong> 'w' </strong> Key for Middle Pitch, and 'e' Key for Highest Pitch.
Press the key in the correct order and time interval!.
</h6>
                                                                                                                              <p>You need <strong>15</strong> points to unlock.</p>

                                    <button class="btn btn-primary" onclick="changeContent(3)" id="btn3">
                                        <i class="bi bi-unlock"></i> Play
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="col-lg-4">
                            <div class="card mx-auto" style="width: 18rem;">
                                <div class="card-body">
 <h5 class="card-title mb-4">Pitch & Interval</h5>
                                                                        <img class="img-fluid half-img mb-4"  src="../static/assets/img/pitch.png">

                                    <h6 class="card-subtitle mb-4 text-muted"> <strong> 'q' </strong> Key for Lowest Pitch, <strong> 'w' </strong> Key for Middle Pitch, and 'e' Key for Highest Pitch.
Press the key in the correct order and time interval!.
</h6>
                                                                                                                              <p>You need <strong>15</strong> points to unlock.</p>

                                    <button class="btn btn-primary" onclick="changeContent(3)">
                                        <i class="bi bi-unlock"></i> Play
                                    </button>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>

<!--              {% if current_score > 20 %}-->
<!--            <div class="col-md-3">-->
<!--              <button class="btn btn-primary" onclick="changeContent(4)"id="btn4" > Mix & Mix</button>-->
<!--            </div>-->
<!--              {% else %}-->
<!--                          <div class="col-md-3">-->
<!--              <button class="btn btn-primary inactive" onclick="changeContent(4)"id="btn4" disabled><i class="bi bi-lock"></i> Mix & Mix</button>-->
<!--                              {% endif %}-->
<!--            </div>-->
          </div>
        <div class="row mt-5" data-aos="fade-up" data-aos-delay="200">


                <h5 id="point" data-aos="fade-in" data-aos-delay="700" class="text-center mb-3">
        <strong>Total Points:</strong> <span id="currentScore">{{current_score}}</span>
    </h5>


<div class="gameboard mx-auto d-flex justify-content-center align-items-center">
  <div class="firework-container"></div>

    {% if isLogin %}
    <button class="btn btn-danger mx-auto start-btn" id="startBtn1" data-keep="true">Start</button>
    <button class="btn btn-danger mx-auto start-btn" id="startBtn2" data-keep="true">Start</button>
    <button class="btn btn-danger mx-auto start-btn" id="startBtn3" data-keep="true">Start</button>
    {% else %}
    <a class="color-black" href="{{url_for('login')}}"><p class="">Please Login to Start the Game!</p></a><br>
    {% endif %}
</div>




   </section>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

<!--     <div class="footer-top">

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-6">
            <h3>Music Memory</h3>
            <p>Et aut eum quis fuga eos sunt ipsa nihil. Labore corporis magni eligendi fuga maxime saepe commodi placeat.</p>
          </div>
        </div>



      </div>
    </div> -->

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Music Memory</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

<script>
function changeContent(btnId) {
    removeContent();
    var buttons = document.querySelectorAll('.btn');
    buttons.forEach(function (button) {
        button.classList.remove('active');
    });

    var clickedButton = document.getElementById('btn' + btnId);
    clickedButton.classList.add('active');

    for (let i = 1; i <= 3; i++) {
        var button = document.getElementById('startBtn' + i);
        if (button) {
            button.style.display = 'none';
        }
    }

    var startButton = document.getElementById('startBtn' + btnId);
    if (startButton) {
        startButton.style.display = 'block';
        window.scrollBy(0, 450);
    }

}

</script>
  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>
  <script src="../static/assets/js/game.js"></script>
  <script src="../static/assets/js/game_level2.js"></script>
  <script src="../static/assets/js/game3.js"></script>


</body>

</html>