<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Music Memory</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins&family=Tulpen+One&display=swap" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">
    
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="login-container">
                    <h2 class="text-center mb-4">Login</h2>
                     <form action="/login" method="POST">
                        <div class="form-group">
                            <input type="text" class="form-control" id="username" name ="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control mt-3" id="password" name="password" placeholder="Password">
                        </div>
                           <div class="text-center">
                                    <a class="mt-3 mx-auto voice-recog" onclick="startVoiceRecognition()">Start Voice Recognition for your username</a>
                                 <a class="mt-3 mx-auto voice-recog" onclick="startVoiceRecognition2()">Start Voice Recognition for your password</a>

                            </div>
                         <div>
                            <p class="text-center mt-4">Don't have an account? <a href="/register">Register</a></p>
                         </div>
                         {% with messages = get_flashed_messages() %}
                         {% if messages %}
                            <div class="alert alert-danger" role="alert">
                              Wrong password or username
                            </div>
                         {% endif %}
                         {% endwith %}

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary btn-login mt-3 mx-auto">Login</button>
                        </div>
                     </form>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Add Bootstrap and jQuery scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script>
  const completeSound= new Audio('../static/assets/audio/complete.mp3');

    function startVoiceRecognition() {
      const recognition = new webkitSpeechRecognition();
      // const recognition = new SpeechRecognition();

      recognition.lang = 'en-US';

  recognition.onresult = function (event) {
    const result = event.results[0][0].transcript;
    const formattedResult = result.toLowerCase().replace(/\s/g, '');
    document.getElementById('username').value = formattedResult;
    completeSound.play();
  };

      recognition.start();
    }

        function startVoiceRecognition2() {
      const recognition = new webkitSpeechRecognition();
      // const recognition = new SpeechRecognition();

      recognition.lang = 'en-US';

  recognition.onresult = function (event) {
    const result = event.results[0][0].transcript;
    const formattedResult = result.toLowerCase().replace(/\s/g, '');
    document.getElementById('password').value = formattedResult;
    completeSound.play();
  };

      recognition.start();
    }
  </script>
</body>
</html>
