<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Music Memory</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/assets/img/favicon.png" rel="icon">
  <link href="../static/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins&family=Tulpen+One&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&family=M+PLUS+1p&family=Outfit&display=swap" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="../static/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../static/assets/css/style.css" rel="stylesheet">

</head>

<body>


  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <a href="{{url_for('index')}}"><img src="../static/assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          {% if isLogin %}
                                   <li><a class="nav-link scrollto active color-green" href="{{url_for('index')}}#game">Start Game</a></li>

             <li><a class="nav-link scrollto" href="{{url_for('about')}}">About</a></li>
                      <li><a class="nav-link scrollto active" href="{{url_for('scoreboard')}}">My Page</a></li>
                      {% if username=="scott2023" %}

                      <li><a class="nav-link scrollto" href="{{url_for('dashboard')}}">Admin Page</a></li>
                      {% endif %}

<!--                      <li><a class="nav-link scrollto" href="{{url_for('mypage')}}">My Page</a></li>-->

            <li><a class="nav-link scrollto" href="{{url_for('logout')}}">Logout</a></li>
<!--                <li class="dropdown"><a href="#"><span>MY</span> <i class="bi bi-chevron-down"></i></a>-->
<!--                  <ul>-->
<!--                    <li><a href="#">My Info</a></li>-->
<!--                    <li><a class="nav-link scrollto" href="{{url_for('logout')}}">Logout</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
          {% else %}
            <li><a class="nav-link scrollto" href="{{url_for('login')}}">Login</a></li>
          {% endif %}



        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>

      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

<!--   <section id="scoreboard">-->


<!--      </div>-->
<!--     </div>-->
<!--   </section>-->
 <section class="" style="background-color: #f4f5f7;">
          <div class="container">
                    <div class="section-title" data-aos="fade-up">
<!--          <h2>My Information</h2>-->
        </div>
            <div class="row"  data-aos="fade-in" data-aos-delay="600">
                    <div class="section-title" data-aos="fade-up">
        <h2>User Dashboard</h2>
      </div>
                <div class="row">


                <div class="col-md-6">
                  <div class="projectintro">
                  <div class="row d-flex justify-content-center align-items-center h-100">
                              <h3 class="mb-4 mx-auto text-center mb-4">My Information</h3>

                        <div class="col col-md-12 mb-4 mb-lg-0">
                          <div class="card mb-3 info-card info-card2" style="border-radius: .5rem;">
                            <div class="row g-0">
                              <div class="col-md-4 gradient-custom text-center text-white d-flex flex-column justify-content-center"
                                  style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
                                  <h5>{{username}}</h5>
                              </div>

                              <div class="col-md-8">
                                <div class="card-body p-4">
                                  <h6>Information</h6>
                                  <hr class="mt-0 mb-4">
                                  <div class="row pt-1">
                                    <div class="col-7 mb-3">
                                      <h6>Email</h6>
                                      <p class="text-muted">{{email}}</p>
                                    </div>
                                    <div class="col-5 mb-3">
                                      <h6>Age</h6>
                                      <p class="text-muted">{{age}}</p>
                                    </div>
                                  </div>
<!--                                  <h6>Score</h6>-->
                                  <hr class="mt-0 mb-4">
                                  <div class="row pt-1">
                                    <div class="col-7 mb-3">
                                           <h6>Country</h6>
                                      <p class="text-muted">{{country}}</p>

                                    </div>
                                    <div class="col-5 mb-3">
                                    <h6>Score</h6>
                                      <p class="text-muted">{{score}}</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                  <div class="col-md-6">
                    <div class="projectintro">
                              <h3 class="mb-4 mx-auto text-center">My Progression By Date</h3>


                      <div class="card info-card info-card2 px-5 py-4">
                          <div class="card-body">
                                                      <canvas id="lineChart" width="400" height="215"></canvas>

                          </div>

                      </div>
                    </div>

                </div>
                    </div>
            </div>
              <div class="row">
                  <div class="col-md-6"  data-aos="fade-in" data-aos-delay="600">
                    <div class="projectintro">
                              <h3 class="mb-4 mx-auto text-center mb-4 mt-5">Top Players</h3>

                      <div class="container">
                          <div id="leaderboard mx-auto">
                            <table class="tw mx-auto">
                            {% for user in leaderboard_data %}
                              <tr>
                                <td class="number">{{ loop.index}}</td>
                                <td class="name">{{ user[0] }}</td>
                                {% if loop.index == 1%}
                                <td class="points">{{ user[1] }}
                                           <img class="gold-medal" src="https://github.com/malunaridev/Challenges-iCodeThis/blob/master/4-leaderboard/assets/gold-medal.png?raw=true" alt="gold medal"/>
                                  </td>
                                {% else %}
                                <td class="points">{{ user[1] }}</td>
                                {% endif %}
                              </tr>
                            {% endfor %}
                            </table>
                          </div>
                         </div>
                       </div>
                  </div>
                  <div class="col-md-6"  data-aos="fade-in" data-aos-delay="600">
                    <div class="projectintro">
                              <h3 class="mb-4 text-center mb-4 mt-5">My Progression By Level</h3>
                      <div class="card info-card info-card2 px-5 py-5 marginsmall">
                          <div class="card-body">
                                                      <canvas id="scoreChart" width="400" height="215"></canvas>

                          </div>

                      </div>
                    </div>
                  </div>


              </div>
          </div>
        </section>
      <section style="background-color: white;">
          <div class="container h-100">
                    <div class="section-title" data-aos="fade-up">
        <h2>Exploring and Sharing Your Emotions</h2>
        </div>
              <h3 data-aos="fade-up">Q1. How do you feel prior to visiting our website today?</h3>
<button data-aos="fade-up" class="btn btn-success mt-4 pt-2 ms-2" onclick="startVoiceRecognition()">Start Voice Recognition</button>
<!--<p id="recognitionMessage" style="display: none">Voice recognition is complete!</p>-->
                              <h3 data-aos="fade-up" class="mt-5">Q2. How was your experience with listening to the music?</h3>
<button data-aos="fade-up" class="btn btn-success mt-4 pt-2 ms-2" onclick="startVoiceRecognition()">Start Voice Recognition</button>
<!--<p id="recognitionMessage" style="display: none">Voice recognition is complete!</p>-->
       <h3 data-aos="fade-up" class="mt-5">Q3. What is one thing you learned from this Music Memory activity this week?</h3>
<button data-aos="fade-up" class="btn btn-success mt-4 pt-2 ms-2" onclick="startVoiceRecognition()">Start Voice Recognition</button>
<!--<p id="recognitionMessage" style="display: none">Voice recognition is complete!</p>-->
          </div>
        </section>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">



    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>Music Memory</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/assets/vendor/aos/aos.js"></script>
  <script src="../static/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../static/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../static/assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../static/assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="../static/assets/js/main.js"></script>
  <script src="../static/assets/js/game.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
    async function fetchData() {
      const response = await fetch('/get_scores');
      const data = await response.json();
      return data;
    }

    async function createLineChart() {
      const data = await fetchData();

      const labels = data.map(item => item.date);
      const scores = data.map(item => item.total_score);

      const config = {
        type: 'line',
        data: {
          labels: labels,
          datasets: [{
            label: 'Scores',
            data: scores,
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 2,
            fill: false
          }]
        },
        options: {
          scales: {
            x: {
              title: {
                display: true,
                text: 'Date'
              },
              ticks: {
                autoSkip: true,
                maxTicksLimit: 6
              }
            },
            y: {
              title: {
                display: true,
                text: 'Score'
              }
            }
          }
        }
      };

      // Get the canvas element
      const canvas = document.getElementById('lineChart');

      // Create a new Chart instance
      const ctx = canvas.getContext('2d');
      const lineChart = new Chart(ctx, config);
    }

    // Call the function to create the line chart
    createLineChart();

  </script>

<script>
  async function fetchData2() {
    try {
      const response = await fetch('/get_scores2');
      if (!response.ok) {
        throw new Error(`Failed to fetch data: ${response.status} ${response.statusText}`);
      }
      const data = await response.json();
      return data;
    } catch (error) {
      console.error(error);
    }
  }

  // Function to create the Chart.js chart with fetched data
  async function createChart() {
    const jsonData = await fetchData2();

    var dataByLevel = {};

    jsonData.forEach(function(item) {
      if (!dataByLevel[item.level]) {
        dataByLevel[item.level] = {
          label: item.level,
          data: [],
          borderColor: getRandomColor(),
          fill: false
        };
      }
      dataByLevel[item.level].data.push(item.total_score);
    });

    var datasets = Object.values(dataByLevel);

    var uniqueDates = [...new Set(jsonData.map(item => item.date))];

    var ctx = document.getElementById('scoreChart').getContext('2d');
    var myChart = new Chart(ctx, {
      type: 'line',
      data: {
        labels: uniqueDates,
        datasets: datasets
      },
      options: {
        responsive: true,
        maintainAspectRatio: false,

                  scales: {
            x: {
              title: {
                display: true,
                text: 'Date'
              },
              ticks: {
                autoSkip: true,
                maxTicksLimit: 6
              }
            },
            y: {
              title: {
                display: true,
                text: 'Score'
              }
            }
          }
      },

    });

    function getRandomColor() {
      var letters = '0123456789ABCDEF';
      var color = '#';
      for (var i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    }
  }

  // Call the createChart function to fetch data and create the chart
  createChart();
</script>
<script>
function startVoiceRecognition() {
  const recognition = new webkitSpeechRecognition();
  recognition.lang = 'en-US';

  recognition.onresult = function (event) {
    const result = event.results[0][0].transcript;
    const formattedResult = result.toLowerCase().replace(/\s/g, '');
    completeSound.play();

    // Hide the button
    const button = document.querySelector('.btn-success');
    if (button) {
      button.style.display = 'none';
    }

    // Display the message
    const message = document.getElementById('recognitionMessage');
    if (message) {
      message.style.display = 'block';
    }

    // Send the result to Flask for sentiment analysis
    sendResultForSentimentAnalysis(formattedResult);
  };

  recognition.start();
}

function sendResultForSentimentAnalysis(result) {
  // Create an AJAX request
  const xhr = new XMLHttpRequest();
  xhr.open('POST', '/sentiment-analysis', true);
  xhr.setRequestHeader('Content-Type', 'application/json');

  // Define a callback function to handle the response
  xhr.onload = function () {
    if (xhr.status === 200) {
      // Handle the response from Flask here
      console.log(xhr.responseText);
    } else {
      console.error('Sentiment analysis request failed');
    }
  };

  // Send the result to Flask
  xhr.send(JSON.stringify({ text: result }));
}


</script>
<script>
function startVoiceRecognition2() {
  const recognition = new webkitSpeechRecognition();
  recognition.lang = 'en-US';

  recognition.onresult = function (event) {
    const result = event.results[0][0].transcript;
    const formattedResult = result.toLowerCase().replace(/\s/g, '');
    completeSound.play();

    // Hide the button
    const button = document.querySelector('.btn-success');
    if (button) {
      button.style.display = 'none';
    }

    // Display the message
    const message = document.getElementById('recognitionMessage');
    if (message) {
      message.style.display = 'block';
    }

    // Send the result to Flask for sentiment analysis
    sendResultForSentimentAnalysis2(formattedResult);
  };

  recognition.start();
}

function sendResultForSentimentAnalysis2(result) {
  // Create an AJAX request
  const xhr = new XMLHttpRequest();
  xhr.open('POST', '/sentiment-analysis2', true);
  xhr.setRequestHeader('Content-Type', 'application/json');

  // Define a callback function to handle the response
  xhr.onload = function () {
    if (xhr.status === 200) {
      // Handle the response from Flask here
      console.log(xhr.responseText);
    } else {
      console.error('Sentiment analysis request failed');
    }
  };

  // Send the result to Flask
  xhr.send(JSON.stringify({ text: result }));
}


</script>
<script>
function startVoiceRecognition3() {
  const recognition = new webkitSpeechRecognition();
  recognition.lang = 'en-US';

  recognition.onresult = function (event) {
    const result = event.results[0][0].transcript;
    const formattedResult = result.toLowerCase().replace(/\s/g, '');
    completeSound.play();

    // Hide the button
    const button = document.querySelector('.btn-success');
    if (button) {
      button.style.display = 'none';
    }

    // Display the message
    const message = document.getElementById('recognitionMessage');
    if (message) {
      message.style.display = 'block';
    }

    // Send the result to Flask for sentiment analysis
    sendResultForSentimentAnalysis3(formattedResult);
  };

  recognition.start();
}

function sendResultForSentimentAnalysis3(result) {
  // Create an AJAX request
  const xhr = new XMLHttpRequest();
  xhr.open('POST', '/sentiment-analysis3', true);
  xhr.setRequestHeader('Content-Type', 'application/json');

  // Define a callback function to handle the response
  xhr.onload = function () {
    if (xhr.status === 200) {
      // Handle the response from Flask here
      console.log(xhr.responseText);
    } else {
      console.error('Sentiment analysis request failed');
    }
  };

  // Send the result to Flask
  xhr.send(JSON.stringify({ text: result }));
}


</script>


</body>

</html>